<h1>About Final Fantasy</h1>
<h2>
    Final Fantasy is a Japanese science fantasy media franchise created by Hironobu Sakaguchi, and developed and
    owned by Square Enix. The franchise centers on a series of fantasy and science fantasy role-playing video games.
</h2>
<img src="~/Content/ff.jpg" alt="final fantasy" style="width:80%;outline:5px goldenrod solid;" />
<hr />
<table style="width:80%;text-align:center;">
    <tr>
        <td style="width:50%;">
            <h2>Started in Dec 18, 1987</h2>
        </td>
        <td style="width:50%;">
            <h2>Creator Hironobu Sakaguchi</h2>
        </td>
    </tr>
    <tr>
        <td>
            <h2>Composer: Nobuo Uematsu</h2>
        </td>
    </tr>
</table>
<hr />