<address class="text-info">
    PRIMARY ADDRESS<br />
    Final Fantasy<br />
    2200 Ocean View Drive<br />
    Traverse City, MI 49696<br />
</address>
<address class="text-primary">
    TELEPHONE<br />

    231-555-2300<br />
</address>
<address class="text-success">
    EMAIL<span class="glyphicon glyphicon-envelope"></span><br />
    web@finalfantasy.com<br />
</address>
